:root {
  --black: #000;
  --black99: #00000099;
  --blackd9: #000000d9;
  --white: #fDfDfD;
  --grayf2: #f2f2f2;
  --gray77: #777777;
  --yellowf7: #f7ce48;
  --yellowff: #ffe62e;
  --blue01: #0168e2;
  --redc9: #c92550;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100%;
}

.body {
  width: 100%;
  height: 100%;
}

.body.active {
  overflow: hidden;
}

main {
  position: relative;
  left: 0;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;

  transition: .3s;
}

main.active {
  left: 32rem;
  max-width: 1460px;
}

section {
  height: 100%;
}

h1 img {
  height: 5rem;
}

h2 {
  display: grid;
  justify-content: center;
  width: 100%;
  font-size: 5rem;
  font-weight: 600;
  text-transform: uppercase;
}

h2::after {
  content: "";
  display: flex;
  width: 100%;
  height: 1rem;
  margin-top: 1rem;
  background: var(--black);
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

h4 {
  text-transform: uppercase;
}


/* 헤더 */
.header {
  position: fixed;
  left: -31.5rem;
  top: 0;
  bottom: 0;
  display: grid;
  align-items: center;
  gap: 5rem;
  width: 32rem;
  z-index: 10;
  background: var(--white);
  border-right: 0.5rem solid #000;
  transition: .5s;
  box-sizing: border-box;
}

.header>.gnb {
  padding: 0 3rem;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.header.active {
  left: 0;
}

.header .nav {
  margin: 5rem 0;
  border-bottom: 0.5rem solid #000;
  border-top: 0.5rem solid #000;
}

.header .nav ul {
  display: grid;
  gap: 2rem;
  margin: 10rem 0;
}


.header .nav li {
  background: transparent;
  transition: .4s;
}

.header .nav ul li.active {
  background: var(--yellowf7);
}
.header .nav button {
  width: 100%;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.header p {
  font-size: 1.2rem;
  text-transform: none;
}

/* 메뉴버튼 */
.menu {
  position: absolute;
  top: 0;
  right: -6rem;
}

.menu-icon {
  position: relative;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

.menu-icon .menu-icon__checkbox {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  z-index: 2;
  -webkit-touch-callout: none;
  position: absolute;
  opacity: 0;
}

.menu-icon div {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 4rem;
  height: 1.2rem;
}

.menu-icon span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  border-radius: 1px;
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}

.menu-icon span:first-of-type {
  top: 0;
}

.menu-icon span:last-of-type {
  bottom: 0;
}

.menu-icon.active span:first-of-type,
.menu-icon .menu-icon__checkbox:checked+div span:first-of-type {
  transform: rotate(45deg);
  top: 5px;
}

.menu-icon.active span:last-of-type,
.menu-icon .menu-icon__checkbox:checked+div span:last-of-type {
  transform: rotate(-45deg);
  bottom: 5px;
}

.menu-icon.active:hover span:first-of-type,
.menu-icon.active:hover span:last-of-type,
.menu-icon:hover .menu-icon__checkbox:checked+div span:first-of-type,
.menu-icon:hover .menu-icon__checkbox:checked+div span:last-of-type {
  width: 4rem;
}

@media (min-width: 1024px) {
  .menu-icon:hover span:first-of-type {
    width: 4rem;
  }

  .menu-icon:hover span:last-of-type {
    width: 2rem;
  }
}

/* 홈 */
.home {
  display: flex;
  justify-content: center;
  gap: 9rem;
  width: 100%;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 20rem 0;
  border-bottom: 1rem solid var(--black);
  box-sizing: border-box;
}

.home__text {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 5rem;
  height: 55.7rem;
}

.home h2 {
  justify-content: start;
  font-size: 7rem;
}

.home h2::after {
  content: "";
  display: flex;
  width: 20rem;
  height: 1rem;
  margin-top: 4rem;
  background: var(--black);
}

.home__text p {
  font-size: 1.8rem;

}

.home__img {
  position: relative;
  border: 1rem solid var(--black);
  height: 55.7rem;
  padding: 2.5rem;
  box-sizing: border-box;
}

.home__img div {
  position: absolute;
  left: -2.5rem;
  top: 5rem;
  width: 50rem;
  height: 40rem;
  background: var(--yellowf7);
  z-index: -1;
}

.home__img img {
  width: 37rem;
  filter: grayscale(.4);
}

/* 프로필 */
.profile-page {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 5rem 0;
}

.profile-page>p {
  font-size: 1.8rem;
  text-align: center;
}

.profile-page>div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

.profile__txtbox {
  position: relative;
  display: grid;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 3rem 5rem 5rem;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
}

.profile__txtbox p {
  align-self: center;
  font-size: 1.8rem;
  line-height: 1.8;
}

.profile__txtbox::after {
  content: "";
  position: absolute;
  left: 5rem;
  bottom: 0;
  width: 118rem;
  height: 1rem;
  margin-top: 10rem;
  background: var(--black);
}

.profile__txtbox.process__text {
  justify-self: end;
}

.experience-page {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 5rem 0;
  border-bottom: 1rem solid var(--black);
}

.experience-page >div {
  margin-top: 5rem;
}

.experience-box {
  position: relative;
  display: flex;
  justify-content: center;
}

.experience-box li {
  position: relative;
  width: 20rem;
  padding: 0 4rem;
  text-align: center;
}

.experience-box li~li::before {
  content: "";
  position: absolute;
  left: 0;
  width: 0.5rem;
  height: 100%;
  background: var(--black);
}

.experience-box li button {
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1rem solid transparent;
  transition: .5s;
}

.experience-box li.select button {
  border-bottom: 1rem solid var(--yellowf7);
}

.experience-list>div ul {
  display: grid;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.experience-list>div li {
  display: grid;
  gap: 1rem;
  width: 80rem;
  padding: 2rem 5rem;
  background: var(--grayf2);
  box-sizing: border-box;

}

.edu__name {
  display: flex;
  align-items: end;
  gap: 1rem;
}

.edu__info,
.experience__date {
  font-size: 1.8rem;
}

.experience-list {
  height: 80rem;
}

.experience-list h4 {
  font-size: 2.4rem;
  text-transform: uppercase;
}

.experience-list .experience-list__info {
  font-size: 1.5rem;
}

.education i {
  font-size: 1.2rem;
}

.license,
.skills {
  display: none;
}
.skills li div{
display: grid;
gap: 1rem;
margin-top: 2rem;
}

/* 프로젝트 */
.project-page {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 5rem 0;
  border-bottom: 1rem solid var(--black);
}

.project-page h3 {
  display: inline-flex;
  margin-top: 2rem;
  position: relative;
  font-size: 3rem;
  text-transform: uppercase;
}

.project-page h3::after {
  content: "";
  position: absolute;
  right: auto;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.3rem;
  background: var(--yellowf7);
  transition: .5s;

}

.project-page h3:hover::after {
  width: 0;
  left: auto;
  right: 0;
}

.project-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 15rem 0;
  box-sizing: border-box;
}

.project-list li {
  justify-self: center;
  display: grid;
  align-items: center;
}

.project-list li>div {
  justify-self: center;
}

.project__info {
  margin: 0.5rem 0 2rem;
  font-size: 1.4rem;
  text-align: center;
}

.project-list .img__box>img {
  width: 55rem;
  object-fit: contain;
}

.img__box {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 2rem;
  box-sizing: border-box;
}

.img__box:hover>span {
  opacity: 1;

}

.img__box>span {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background: #00000048;
  font-size: 5rem;
  font-weight: 700;
  color: var(--white);
  text-align: left;
  text-transform: uppercase;
  opacity: 0;
  transition: .4s;
}

.img__box>span img {
  width: 40rem;
}

.practice__box {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: var(--black99);
  z-index: 210;
}

.practice__txt {
  position: absolute;
  top: 10rem;
  left: 50%;
  display: grid;
  grid-template-columns: 1fr 41rem;
  gap: 1rem 5rem;
  color: var(--white);
  font-size: 2rem;
  font-weight: 700;
  transform: translateX(-50%);
}

.practice__txt p {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.practice__txt p::before {
  content: "";
  display: flex;
  width: 1rem;
  height: 1rem;
  background: var(--white);
  border-radius: 100%;
}

.project__practice {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 7rem 5rem;
  width: 124rem;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  z-index: 150;
}

.project__practice>li {
  width: 38rem;
  height: 25rem;
}


.project__practice li>button {
  position: relative;
  text-align: center;
  transition: .4s;
}

.project__practice li>span {
  font-size: 2rem;
  color: var(--white);
  text-transform: uppercase;
}





.practice__info {
  display: grid;
  font-size: 2rem;
}

.project__practice li>button:hover {
  transform: scale(0.9);
}

.practice1>button {
  background: url(../images/img_website.webp) no-repeat center / contain;
}

.practice2>button {
  background: url(../images/img_mobilesite.webp)no-repeat center / contain;
}

.practice3>button {
  background: url(../images/img_responsivesite.webp)no-repeat center / contain;
}

.practice4>button {
  background: url(../images/img_responsive-b.webp)no-repeat center / contain;
}

.practice5>button {
  background: url(../images/img_other.webp)no-repeat center / contain;
}


.content4 {
  width: 100%;
  height: 100%;
}

.content5 {
  width: 100%;
  height: 100%;

}


.content6 {
  width: 100%;
  height: 100%;
}

.content7 {
  width: 100%;
  height: 100%;

}

.content8 {
  width: 100%;
  height: 100%;

}









.detail-page {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 200;
}

.detail-page>div {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  padding: 5rem 30rem;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  box-sizing: border-box;
}

.detail-page>div.active {
  display: grid;
  gap: 2rem;
}

.detail-page>div::-webkit-scrollbar {
  display: none;
}

.btn__box {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.detail-page>div button {
  padding: 1rem;
  font-size: 1.8rem;
  border-radius: 3rem;
  background: var(--yellowf7);
}

.detail-page .btn__prev-box {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.detail-page .btn_detail {
  width: 12rem;
}

.detail-page .btn__prev-box .btn_prev {
  width: 12rem;
}

.detail-page h4 {
  font-size: 4rem;
  font-weight: 500;
}

.detail-page h5 {
  font-size: 3rem;
  font-weight: 500;
}

.detail-page .project__info {
  font-size: 1.8rem;
  text-align: left;
}

.detail-page .img__box img {
  width: 75rem;
}

.overview__txt {
  display: grid;
  gap: 3rem;
  font-size: 1.8rem;
}

.overview__txt p {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

.overview__txt li {
  text-indent: 2rem;
}

.overview__txt p::before {
  content: "";
  display: flex;
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
  border-radius: 100%;
  background: var(--black);
}

.detail-bg {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--grayf2);
  z-index: 100;
}

.detail-dimmed {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--gray77);
  z-index: 229;
}

.light {
  width: 80rem;
  height: 80rem;
  position: absolute;
  background: var(--white);
  border-radius: 100%;
  filter: blur(20rem);
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.light2 {
  width: 35rem;
  height: 35rem;
  position: absolute;
  background: var(--yellowff);
  border-radius: 100%;
  filter: blur(20rem);
  left: 75%;
  top: 65%;
}

.light3 {
  width: 25rem;
  height: 25rem;
  position: absolute;
  background: var(--yellowff);
  border-radius: 100%;
  filter: blur(15rem);
  left: 15%;
  top: 10%;
}

.device-popup {
  display: none;
  padding: 4rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 202;
}

.iframe-filelist,
.iframe-accessibility {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--white);
  text-align: right;
  z-index: 205;
  overflow: hidden;
}

.iframe-filelist iframe,
.iframe-accessibility iframe {
  width: 120rem;
  height: 70rem;
  border: 1px solid var(--grayf2);
  overflow-y: hidden;
}


.detail-page .web-validation__box .btn_close,
.practice__box .btn5,
.btn-group .btn6 {
  width: 5rem;
  height: 5rem;
  background: url(../images/ico_close.svg) no-repeat center / 3rem;
  transform: rotate(0deg);
  transition: .4s;
}

.practice__box .btn5,
.btn-group .btn6 {
  background: url(../images/ico_close_w.svg) no-repeat center / 3rem;
}


.project__cont {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 230;
}

.project__cont>div {
  display: none;
}

.file-list {
  position: absolute;
  left: 2rem;
  top: 7rem;
  width: 20rem;
  color: var(--white);
  font-size: 1.8rem;
  text-transform: uppercase;
}

.file-list li {
  position: relative;
  display: flex;
  align-items: center;
  width: 20rem;
  transition: 0.4s;
}

.file-list li::before {
  content: "";
  width: 0.2rem;
  border-left: 0.2rem solid transparent;
  height: 3rem;
  transition: .4s;
}

.file-list li.active::before {
  content: "";
  width: 0.2rem;
  border-left: 0.2rem solid var(--white);
  height: 3rem;
}

.responsive-popup .file-list li .newpage,
.file-list li .newpage {
  position: absolute;
  top: 50%;
  right: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 2rem;
  padding: 0 0.5rem;
  border-radius: 5rem;
  border: 0.2rem solid var(--white);
  color: var(--white);
  font-size: 1rem;
  transform: translateY(-50%);
  box-sizing: border-box;
}

.file-list li .newpage::before {
  content: "";
  width: 1rem;
  height: 1rem;
  background: url(../images/ico_plus.svg) no-repeat center /contain;
}

.file-list li a {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 0.8rem;
  box-sizing: border-box;
  opacity: 0.5;
}

.file-list li a.active {
  opacity: 1;
}

.responsive-popup .file-list li a {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 5.5rem;
  padding: 0.8rem;
  box-sizing: border-box;
}

.device {
  width: 500px;
  margin: 8rem auto;
  transition: width 0.5s;
  position: relative;
  box-sizing: border-box;
  top: 4rem;
}

.frame {
  width: 100%;
  padding: 0;
  border: 2px solid grey;
  box-sizing: border-box;
}

.frame iframe {
  width: 100%;
  height: 650px;
  border: none;
  background: #fff;
}

.device[name="btn1"] {
  width: 398px;
  height: 746px;
  background: #010101;
  border: 1px solid #1b1721;
  border-radius: 68px;
  box-shadow: inset 0 0 0 1px #babdbf, inset 0 0 1px 3px #e2e3e4;
  padding: 19px;
}

.device[name="btn2"] {
  background: #0d0d0d;
  border-radius: 36px;
  box-shadow: inset 0 0 0 1px #babdbf, inset 0 0 1px 3px #e2e3e4;
  padding: 27px;
  box-sizing: border-box;
}

.frame.device2-screen iframe {
  position: absolute;
  top: 54px;
  border-radius: 0 0 49px 49px;
  z-index: 20;
  width: 100%;
  height: 650px;
  border: none;
  background: #fff;
  box-sizing: border-box;
}

.frame.device3-screen {
  border-radius: 11px;
}

.frame.device3-screen iframe {
  width: 950px;
  height: 630px;
  border-radius: 6px;
}

.device[name="btn3"] .frame {
  border-top: none;
  height: 620px;
}

.device[name="btn3"] {
  position: relative;
  padding: 30px 20px 16px;
  border-radius: 30px 30px 0 0;
  background: #8f8c8c;
  box-shadow: inset 0 0 0 1px #babdbf, inset 0 0 1px 3px #e2e3e4;
  width: 1330px;
  height: 718px;
  margin: 7rem 0 0 35rem;
  transition: width 0.5s;
  position: relative;
  box-sizing: border-box;
}


.responsive-b-popup .device[name="btn3"],
.responsive-popup .device[name="btn3"],
.web-popup .device[name="btn3"],
.lgbestshop__box .device[name="btn3"] {
  margin: 5rem 0 0 25rem;
}

.device[name="btn3"] .top {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  animation: hig 0.4s 0.4s 1 both;
}

.device[name="btn3"] .btm {
  position: absolute;
  left: 50%;
  bottom: -192px;
  transform: translateX(-50%);
  animation: width 0.4s 0.6s 1 both;
}

.device[name="btn3"] .mac {
  animation: browser 0.4s 0.5s 1 both;
}

@keyframes hig {
  0% {
    height: 0;
    bottom: 0;
  }

  100% {
    height: 100px;
    bottom: -100px;
  }
}

@keyframes browser {
  0% {
    opacity: 0;
    bottom: 0;
  }

  100% {
    opacity: 1;
    bottom: -100px;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes width {
  0% {
    transform: translateX(-50%) scaleX(0);
  }

  100% {
    transform: translateX(-50%) scaleX(1);
  }
}


.lens {
  background: #050505;
  border-radius: 50%;
  height: 8px;
  left: 50%;
  margin-left: -3px;
  position: absolute;
  text-align: center;
  top: 13px;
  width: 8px;
  z-index: 9;
}


.mac {
  width: 1290px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 20px 20px 0 0;
  background: #fff;
  border: 2px solid #808080;
  border-bottom: none;
  box-sizing: border-box;
}

.responsive-b-popup .mac,
.responsive-popup .mac,
.web-popup .mac,
.lgbestshop__box .mac {
  width: 1460px;
}

.mac>div {
  display: flex;
  gap: 15px;
  position: absolute;
  left: 5rem;
  top: 3.7rem;

}

.mac>div>div {
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

.red {
  background: #ED6A5E;
  border-color: #CE5347;
}

.yellow {
  background: #F6BE4F;
  border-color: #D6A243;
}

.green {
  background: #62C554;
  border-color: #58A942;
}

.apple {
  width: 1329px;
  margin: 0 auto;
  background: #d4d5d7;
  border-radius: 0 0 18px 18px;
  bottom: 1px;
  box-shadow: inset 0 0 18px 0 #c7c8cb;
  content: "";
  height: 63px;
  left: 1px;
}

.responsive-b-popup .apple,
.responsive-popup .apple,
.web-popup .apple,
.lgbestshop__box .apple {
  width: 1500px;
}

.holder3 {
  background: 0 0;
  border-radius: 0 0 3px 3px;
  bottom: 0;
  box-shadow: -61px 0 #d4d5d7, 61px 0 #d4d5d7;
  height: 2px;
  left: 50%;
  margin-left: -15px;
  position: absolute;
  width: 30px;
}

.holder2 {
  background: linear-gradient(to bottom, #9fa1a6 0, #c7c8cb 40%, #c7c8cb 85%, #fff 90%, #6b6e74 100%);
  height: 130px;
  margin: 0 auto;
  position: relative;
  width: 180px;
}

.holder2::after {
  background: radial-gradient(circle at center, #d4d5d7 85%, #9fa1a6 100%);
  border-top: 1px solid #d4d5d7;
  content: "";
  height: 6px;
  position: absolute;
  top: 121px;
  left: 0;
  width: 180px;
}


.device2,
.device2 *,
.device2 ::after,
.device2 ::before,
.device2::after,
.device2::before,
.device3,
.device3 *,
.device3 ::after,
.device3 ::before,
.device3::after,
.device3::before {
  box-sizing: border-box;
  display: block;
}

.device2-iphone-14-pro .device2-screen {
  margin-top: 1rem;
  border-radius: 52px;
  height: 708px;
  width: 360px;
  transition: width 0.5s;
}

.device2 .device2-screen {
  position: absolute;
  top: 8px;
  background-color: #ffffffcf;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
}

.device2-iphone-14-pro .device2-stripe::before {
  bottom: 209px;
}

.device2-iphone-14-pro .device2-stripe::after {
  top: 85px;
}

.device2-iphone-14-pro .device2-stripe::after,
.device2-iphone-14-pro .device2-stripe::before {
  border: solid rgba(1, 1, 1, .25);
  border-width: 0 7px;
  content: "";
  height: 7px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 9;
  animation: opacity 0.4s 0.5s 1 both;
}

.device2-iphone-14-pro .device2-header {
  background: #010101;
  border-radius: 20px;
  height: 35px;
  left: 50%;
  margin-left: -60px;
  position: absolute;
  top: 29px;
  width: 120px;
  animation: opacity 0.4s 0.3s 1 both;
}

.device2-sensors {
  animation: opacity 0.4s 0.5s 1 both;
}

.device2-iphone-14-pro .device2-sensors::before {
  background: radial-gradient(farthest-corner at 20% 20%, #6074bf 0, transparent 40%), radial-gradient(farthest-corner at 80% 80%, #513785 0, #24555e 20%, transparent 50%);
  border-radius: 50%;
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, .05);
  height: 9px;
  left: 50%;
  margin-left: 36px;
  top: 42px;
  width: 9px;
}

.device2-iphone-14-pro .device2-sensors::after,
.device2-iphone-14-pro .device2-sensors::before {
  content: "";
  position: absolute;
}

.device2-iphone-14-pro .device2-sensors::after {
  background: #010101;
  border-radius: 17px;
  height: 33px;
  left: 50%;
  margin-left: -60px;
  top: 30px;
  width: 74px;
}

.device2-iphone-14-pro .device2-btns {
  background: #1b1721;
  border-radius: 2px;
  height: 32px;
  left: -2px;
  position: absolute;
  top: 115px;
  width: 3px;
  animation: opacity 0.4s 0.5s 1 both;
}

.device2-iphone-14-pro .device2-btns::before {
  top: 140px;
}

.device2-iphone-14-pro .device2-btns::after {
  top: 60px;
}

.device2-iphone-14-pro .device2-btns::after,
.device2-iphone-14-pro .device2-btns::before {
  background: #1b1721;
  border-radius: 2px;
  content: "";
  height: 62px;
  left: 0;
  position: absolute;
  width: 3px;
  animation: opacity 0.4s 0.5s 1 both;
}

.device2-iphone-14-pro .device2-power {
  background: #1b1721;
  border-radius: 2px;
  height: 100px;
  position: absolute;
  right: -2px;
  top: 200px;
  width: 3px;
  animation: opacity 0.4s 0.5s 1 both;
}

.device2-iphone-14-pro .device2-home::after {
  right: 86px;
  top: 0;
}

.device2-iphone-14-pro .device2-home::before {
  bottom: 122px;
  left: 86px;
}

.device2-iphone-14-pro .device2-home::after,
.device2-iphone-14-pro .device2-home::before {
  border: solid rgba(1, 1, 1, .25);
  border-width: 6px 0;
  content: "";
  height: 6px;
  position: absolute;
  width: 6px;
  z-index: 9;
  animation: opacity 0.4s 0.5s 1 both;
}

.device3-ipad-pro .device3-sensors::after {
  background: #1a1a1a;
  border-radius: 17px;
  box-shadow: -20px 0 #1a1a1a, 70px 0 #1a1a1a;
  height: 10px;
  left: 40px;
  margin-left: -30px;
  top: 292px;
  width: 10px;
  transform: rotate(270deg);
}

.device3-ipad-pro .device3-sensors::before {
  background: radial-gradient(farthest-corner at 20% 20%, #6074bf 0, transparent 40%), radial-gradient(farthest-corner at 80% 80%, #513785 0, #24555e 20%, transparent 50%);
  border-radius: 50%;
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, .05);
  height: 6px;
  left: 15px;
  margin-left: -3px;
  top: 263px;
  width: 6px;
  transform: rotate(270deg);
}

.device3-ipad-pro .device3-sensors::after,
.device3-ipad-pro .device3-sensors::before {
  content: "";
  position: absolute;
  animation: opacity 0.4s 0.5s 1 both;

}

.device3-ipad-pro .device3-btns::after {
  height: 2px;
  left: -19px;
  top: 80px;
  width: 36px;
  transform: rotate(90deg);
}

.device3-ipad-pro .device3-btns::before {
  box-shadow: 0 37px #babdbf;
  height: 32px;
  left: 170px;
  top: -17px;
  width: 2px;
  transform: rotate(90deg);
}

.device3-ipad-pro .device3-btns::after,
.device3-ipad-pro .device3-btns::before {
  background: #babdbf;
  content: "";
  position: absolute;
  animation: opacity 0.4s 0.5s 1 both;
}


.quick-btnbox {
  position: fixed;
  right: 3rem;
  bottom: 8rem;
  width: 4rem;
  height: 4rem;
  background: var(--white);
  border-radius: 100%;
}

.btn-top {
  width: 100%;
  height: 100%;
  background: url(../images/btn_top.svg) no-repeat center / 2rem;
}

/* button group */
.btn-group {
  position: absolute;
  top: 2rem;
  left: 47%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 25rem;
}

.btn-group>div {
  display: flex;
  gap: 5rem;
}

.btn-group>div>button {
  width: 5rem;
  height: 5rem;
  border: 0.2rem solid var(--grayf2);
  border-radius: 1rem;
  opacity: 0.5;
  transition: .4s;
}

.btn-group>div>button.active {
  border: 0.2rem solid var(--white);
  opacity: 1;
}

.btn1 {
  background: url(../images/ico_mobile-d.svg) no-repeat center / 3rem;
}

.btn2 {
  background: url(../images/ico_tablet-d.svg) no-repeat center / 3rem;
}

.btn3 {
  background: url(../images/ico_desktop-d.svg) no-repeat center / 3rem;
}

.btn1.active {
  background: url(../images/ico_mobile-w.svg) no-repeat center / 3rem;
}

.btn2.active {
  background: url(../images/ico_tablet-w.svg) no-repeat center / 3rem;
}

.btn3.active {
  background: url(../images/ico_desktop-w.svg) no-repeat center / 3rem;
}

.btn-group .btn4,
.btn5,
.btn6 {
  position: fixed;
  top: 3rem;
  right: 3rem;
  width: 3.5rem;
  height: 3.5rem;
  border: none;
  background: url(../images/ico_close.svg) no-repeat center / contain;
}

/* mark */
.mark {
  position: fixed;
  top: 4rem;
  right: 20%;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--white);
  font-size: 1.5rem;
  text-transform: uppercase;
}

.hover {
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}

.click {
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}

.link {
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}

.hover {
  animation: hover 2s ease infinite;
  -moz-animation: hover 2s ease infinite;
  -webkit-animation: hover 2s ease infinite;
}

@keyframes hover {

  0%,
  100% {

    background-color: #FED128;
  }

  50% {

    background-color: #806914;
  }
}

.click {
  animation: click 2s linear infinite;
  -moz-animation: click 2s linear infinite;
  -webkit-animation: click 2s linear infinite;
  -o-animation: click 2s linear infinite;
}

@keyframes click {

  0%,
  100% {

    background-color: #28D7FE;
  }

  50% {

    background-color: #146C80;
  }
}

.link {
  animation: link 2s linear infinite;
  -moz-animation: link 2s linear infinite;
  -webkit-animation: link 2s linear infinite;
  -o-animation: link 2s linear infinite;
}

@keyframes link {

  0%,
  100% {

    background-color: #fe2828;
  }

  50% {

    background-color: #801414;
  }
}

.contact-page {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 5rem 0;
  border-bottom: 1rem solid var(--black);
}

.contact-page>div {
  display: grid;
  gap: 5rem;
  padding: 5rem;
}

.contact__txt {
  justify-self: center;
  text-align: center;
  font-size: 2rem;
}

.contact__info {
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding: 0.5rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.contact__info>div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact__info>div h3 {
  text-transform: uppercase;
}

.contact__info .mail,
.contact__info .phone {
  position: relative;
  padding: 1rem 2rem;
  background: none;
  overflow: hidden;
}